
@{
    <section class="price-list-section section-padding" id="price-list">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center mb-5">Ücret Listemiz</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="price-list-items">
                        <div class="price-list-item">
                            <h6 class="price-title">Saç Kesimi</h6>
                            <span class="price">200 TL</span>
                        </div>
                        <div class="price-list-item">
                            <h6 class="price-title">Fön</h6>
                            <span class="price">200 TL</span>
                        </div>
                        <div class="price-list-item">
                            <h6 class="price-title">Topuz</h6>
                            <span class="price">300 TL</span>
                        </div>
                        <div class="price-list-item">
                            <h6 class="price-title">Keratin Bakım</h6>
                            <span class="price">400 TL</span>
                        </div>
                        <div class="price-list-item">
                            <h6 class="price-title">Gelin Başı</h6>
                            <span class="price">1000 TL</span>
                        </div>
                        <div class="price-list-item">
                            <h6 class="price-title">Saç Boyama</h6>
                            <span class="price">500 TL</span>
                        </div>
                        <div class="price-list-item">
                            <h6 class="price-title">Makyaj</h6>
                            <span class="price">300 TL</span>
                        </div>
                        <div class="price-list-item">
                            <h6 class="price-title">Cilt Bakımı</h6>
                            <span class="price">300 TL</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mt-4 mt-lg-0">
                    <img src="resimler/ucretler.jpg" class="img-fluid rounded" alt="Ücretler">
                </div>
            </div>
        </div>
    </section>
}
