

 <!--  <section class="price-list-section section-padding" id="price-list">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center mb-5">Ücret Listemiz</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="price-list-items">
                        <div class="price-list-item">
                            <h6 class="price-title">Saç Kesimi</h6>
                            <span class="price">200 TL</span>
                        </div>
                        <div class="price-list-item">
                            <h6 class="price-title">Fön</h6>
                            <span class="price">200 TL</span>
                        </div>
                        <div class="price-list-item">
                            <h6 class="price-title">Topuz</h6>
                            <span class="price">300 TL</span>
                        </div>
                        <div class="price-list-item">
                            <h6 class="price-title">Keratin Bakım</h6>
                            <span class="price">400 TL</span>
                        </div>
                        <div class="price-list-item">
                            <h6 class="price-title">Gelin Başı</h6>
                            <span class="price">1000 TL</span>
                        </div>
                        <div class="price-list-item">
                            <h6 class="price-title">Saç Boyama</h6>
                            <span class="price">500 TL</span>
                        </div>
                        <div class="price-list-item">
                            <h6 class="price-title">Makyaj</h6>
                            <span class="price">300 TL</span>
                        </div>
                        <div class="price-list-item">
                            <h6 class="price-title">Cilt Bakımı</h6>
                            <span class="price">300 TL</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mt-4 mt-lg-0">
                    <img src="~/resimler/ucretler.jpg" class="img-fluid rounded" alt="Ücretler">
                </div>
            </div>
        </div>
    </section>
-->

<section class="price-list-section section-padding" >
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12">
                <div class="price-list-thumb-wrap">
                    <div class="mb-4">
                        <h2 class="mb-2">Ücret Listesi</h2>

                        <strong>200 TL'den Başlayan Fiyatlarla...'</strong>
                    </div>

                    <div class="price-list-thumb">
                        <h6 class="d-flex">
                            Saç Kesimi
                            <span class="price-list-thumb-divider"></span>

                            <strong>200 TL</strong>
                        </h6>
                    </div>

                    <div class="price-list-thumb">
                        <h6 class="d-flex">
                            Fön
                            <span class="price-list-thumb-divider"></span>

                            <strong>200 TL</strong>
                        </h6>
                    </div>

                    <div class="price-list-thumb">
                        <h6 class="d-flex">
                            Keratin Bakım
                            <span class="price-list-thumb-divider"></span>

                            <strong>400 TL</strong>
                        </h6>
                    </div>

                    <div class="price-list-thumb">
                        <h6 class="d-flex">
                            Gelin Başı
                            <span class="price-list-thumb-divider"></span>

                            <strong>1000 TL</strong>
                        </h6>
                    </div>

                    <div class="price-list-thumb">
                        <h6 class="d-flex">
                            Saç Boyama
                            <span class="price-list-thumb-divider"></span>

                            <strong>500 TL</strong>
                        </h6>
                    </div>

                    <div class="price-list-thumb">
                        <h6 class="d-flex">
                            Makyaj
                            <span class="price-list-thumb-divider"></span>

                            <strong>300 TL</strong>
                        </h6>
                    </div>

                    <div class="price-list-thumb">
                        <h6 class="d-flex">
                            Cilt Bakımı
                            <span class="price-list-thumb-divider"></span>

                            <strong>300 TL</strong>
                        </h6>
                    </div>

                    <div class="price-list-thumb">
                        <h6 class="d-flex">
                            Tırnak(Manikür-Pedikür-Oje)
                            <span class="price-list-thumb-divider"></span>

                            <strong>300 TL</strong>
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 custom-block-bg-overlay-wrap mt-5 mb-5 mb-lg-0 mt-lg-0 pt-3 pt-lg-0">
                <img src="~/resimler/ucretlistesi.jpg" class="custom-block-bg-overlay-image img-fluid" alt="">
            </div>

        </div>
    </div>
</section>
