@{
	ViewData["Title"] = "Hakkımızda";
}
<div class="row">
	<section class="price-list-section section-padding" id="price-list">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ms-sm-auto col-lg-9 p-0">
					<div class="col-12">
						<h2 class="text-center mb-5">Hakkında</h2>
					</div>
					<div class="border-bottom pb-3 mb-5">
						<p>

							Kuaför salonumuz, modern ve şık bir atmosferde, saç ve güzellik hizmetlerinde uzmanlaşmış profesyonel
							ekibimizle size en iyi hizmeti sunmayı amaçlamaktadır. Kaliteli ürünler, müşteri memnuniyeti odaklı
							yaklaşımımız ve yenilikçi çözümlerimizle, güzelliğinizi ortaya çıkarmak için buradayız.
						</p>
					</div>
				</div>
			</div>
	</section>


