@{
    ViewData["Title"] = "Hakkımızda";
}


    <h2>Hakkımızda</h2>
    <div class="border-bottom pb-3 mb-5">
        <p>
            Kuaför salonumuz, modern ve şık bir atmosferde, saç ve güzellik hizmetlerinde uzmanlaşmış profesyonel
            ekibimizle size en iyi hizmeti sunmayı amaçlamaktadır. Kaliteli ürünler, müşteri memnuniyeti odaklı
            yaklaşımımız ve yenilikçi çözümlerimizle, güzelliğinizi ortaya çıkarmak için buradayız.
        </p>
    </div>

