
    <section class="team-section section-padding" id="team">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <h2 class="mb-5 text-center">Çalışanlarımız</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="team-thumb">
                        <img src="~/resimler/feyza.jpg" class="img-fluid team-image" alt="Feyza">

                        <div class="team-info">
                            <h4 class="mb-0">Feyza</h4>

                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-instagram"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-whatsapp"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="team-thumb">
                        <img src="~/resimler/asu.jpg" class="img-fluid team-image" alt="Asude">

                        <div class="team-info">
                            <h4 class="mb-0">Asude</h4>

                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-instagram"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-whatsapp"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

