<section class="services-section section-padding" >
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h2 class="mb-5">Hizmetlerimiz</h2>
            </div>

            <div class="col-lg-6 col-12 mb-4">
                <div class="services-thumb">
                    <img src="~/resimler/sackesimi3.jpg" class="services-image img-fluid" alt="">

                    <div class="services-info d-flex align-items-end">
                        <h4 class="mb-0">Saç Kesimi</h4>

                        <strong class="services-thumb-price">200 TL</strong>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 mb-4">
                <div class="services-thumb">
                    <img src="~/resimler/fon.jpg" class="services-image img-fluid" alt="">

                    <div class="services-info d-flex align-items-end">
                        <h4 class="mb-0">Fön</h4>

                        <strong class="services-thumb-price">200 TL</strong>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <div class="services-thumb">
                    <img src="~/resimler/keratin3.jpg" class="services-image img-fluid" alt="">

                    <div class="services-info d-flex align-items-end">
                        <h4 class="mb-0">Keratin Bakım</h4>

                        <strong class="services-thumb-price">400 TL</strong>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="services-thumb">
                    <img src="~/resimler/gelinbasi.jpg" class="services-image img-fluid" alt="">

                    <div class="services-info d-flex align-items-end">
                        <h4 class="mb-0">Gelin Başı</h4>

                        <strong class="services-thumb-price">1000 TL</strong>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="services-thumb">
                    <img src="~/resimler/makyaj.jpg" class="services-image img-fluid" alt="">

                    <div class="services-info d-flex align-items-end">
                        <h4 class="mb-0">Makyaj</h4>

                        <strong class="services-thumb-price">300 TL</strong>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="services-thumb">
                    <img src="~/resimler/ciltbakimi2.jpg" class="services-image img-fluid" alt="">

                    <div class="services-info d-flex align-items-end">
                        <h4 class="mb-0">Cilt Bakımı</h4>

                        <strong class="services-thumb-price">300 TL</strong>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="services-thumb">
                    <img src="~/resimler/tirnak.jpg" class="services-image img-fluid" alt="">

                    <div class="services-info d-flex align-items-end">
                        <h4 class="mb-0">Tırnak</h4>

                        <strong class="services-thumb-price">300 TL</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
